@page "/dashboard"
@using Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject eUpravaContext DbContext

@if (loggedUser != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h5>Pozdravljen/a, @loggedUser.Name @loggedUser.Surname</h5>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            @if (!loggedUser.isAdmin)
            {
                <div class="col-6 text-center">
                    <a href="/oddaja-vloge" class="btn btn-primary btn-lg"><i class="fa-solid fa-file-contract"></i> Oddaj vlogo</a>
                </div>
                @if(DbContext.Vloge.Any(x => x.User == loggedUser)){
                <div class="col-6 text-center">
                    <a href="/oddane-vloge" class="btn btn-secondary btn-lg"><i class="fa-solid fa-table-list"></i> Oddane vloge</a>
                </div>
                }
            }
            else
            {
                <div class="col-6 text-center">
                    <a href="/pregled" class="btn btn-secondary btn-lg"><i class="fa-solid fa-table-list"></i> Pregled vlog</a>
                </div>
            }
        </div>
    </div>
}

@code {
    public User? loggedUser { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

        if (loggedUser == null)
        {
            NavigationManager.NavigateTo("/");
        }

        StateHasChanged();
    }

}
