@page "/"
@using Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

@code {
    public User? loggedUser;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

            if (loggedUser == null)
            {
                NavigationManager.NavigateTo("/login");
            }
        }
    }
}

<h5 style="text-align: center;">Pozdravjlen/a @loggedUser?.Name @loggedUser?.Surname</h5>

<div class="row">
    <div class="col"><button class="btn btn-primary">Oddaj vlogo</button></div>
    <div class="col"><button class="btn btn-secondary">Oddane vloge</button></div>
</div>