@page "/"
@using Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            @if (loggedUser != null)
            {
                <h5>Pozdravljen/a, @loggedUser.Name @loggedUser.Surname</h5>
            }
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <a href="/vloga" class="btn btn-primary btn-lg">Oddaj vlogo</a>
        </div>
        <div class="col-6 text-center">
            <a href="/oddane-vloge" class="btn btn-secondary btn-lg">Oddane vloge</a>
        </div>
    </div>
</div>

@code {
    public User? loggedUser;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

            if (loggedUser == null)
            {
                NavigationManager.NavigateTo("/login");
            }
        }
    }

}
