@page "/"
@using eUprava.Data
@using CurrieTechnologies.Razor.SweetAlert2
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject eUpravaContext DbContext

<PageTitle>Prijava</PageTitle>

<div class="wrapper">
    <div class="logo">
        <img src="/Images/eUprava-logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        eUprava
    </div>
    <EditForm Model="@user" OnValidSubmit="HandleLogin">
        <div class="form-group p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <InputText type="text" id="userName" placeholder="E-mail" @bind-Value="user.Email" />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <InputText type="password" id="pwd" placeholder="Geslo" @bind-Value="user.Password" />
            </div>
            <button type="submit" class="btn mt-3">Login</button>
        </div>
    </EditForm>
    <div class="text-center fs-6">
        <a href="#">euprava@info.si</a>
    </div>
</div>

@code {
    private User user = new User();

    private async Task HandleLogin()
    {
        var existingUser = DbContext.Users.SingleOrDefault(u => u.Email == user.Email);

        if (existingUser != null && existingUser.Password == user.Password)
        {
            await sessionStorage.SetItemAsync("LoggedUser", existingUser);

            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            await Swal.FireAsync("Oops...", "Napačen E-mail ali Geslo!", SweetAlertIcon.Error);
        }
    }
}

