@page "/login"
@using eUprava.Data
<PageTitle>Login</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>
            <form @onsubmit="HandleLogin">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username" @bind="@user.Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" @bind="@user.Password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

@code {
    private User user = new User();

    [Inject]
    private eUpravaContext DbContext { get; set; }

    private void HandleLogin()
    {
        var existingUser = DbContext.Users.SingleOrDefault(u => u.Username == user.Username);

        if (existingUser != null && existingUser.Password == user.Password)
        {
            // Successful login
            // You can redirect the user to another page or perform other actions here
            // For demonstration purposes, we'll display a success message
        }
        else
        {
            // Invalid credentials
            // You can display an error message or perform other actions here
        }
    }
}

