@page "/oddane-vloge"
@using eUprava.Data
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject eUpravaContext DbContext


@if(loggedUser != null){
  <h1>Oddane vloge</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nacin</th>
      <th scope="col">Termin</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var vloga in DbContext.Vloge){
      @if(vloga.User.Id == loggedUser.Id){
      <tr>
        <th scope="row">@vloga.Id</th>
        <td>@vloga.NacinIzvajanja</td>
        <td>@vloga.Termin</td>
        <td>
          @if(vloga.StatusVloge == Data.Status.Oddana){
            <i class="fa-solid fa-triangle-exclamation text-warning"></i>
          }else if(vloga.StatusVloge == Data.Status.Potrjena){
            <i class="fa-solid fa-badge-check text-success"></i>
          }else if(vloga.StatusVloge == Data.Status.Zavrnjena){
            <i class="fa-solid fa-circle-xmark text-danger"></i>
          }
        </td>
    </tr>
      }
    }
  </tbody>
</table>
}



@code {
    public User? loggedUser { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = await sessionStorage.GetItemAsync<User>("LoggedUser");

        if (loggedUser == null)
        {
            NavigationManager.NavigateTo("/");
        }

        StateHasChanged();
    }

}


